.plainVerseWordContainer {
  font-family: 'Scheherazade';
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline-end: 0.375rem;
  margin-block-end: 0.625rem;
}

.plainVerseWbwText {
  margin-block: 0.375rem;
  margin-inline: 0.375rem;
}
