.counter {
  margin-block-end: 0.625rem;
  font-size: initial;
  [dir='rtl'] & {
    direction: rtl;
  }
}

.xs {
  font-size: 0.75rem;
}
.sm {
  font-size: 1rem;
}
.md {
  font-size: 1.125rem;
}
.lg {
  font-size: 1.5rem;
}
.xl {
  font-size: 2rem;
}
