.verseText {
  display: flex;
  /**
    flex-start for when the inline word by word translation/transliteration is enabled
    and its content is wrapped across multiple lines.
    {@see https://quran.com/2:74} on mobile with Inline word by word translation enabled.
  **/
  align-items: flex-start;
  line-height: 1rem;
}
.verseTextContainer {
  display: block;
  direction: rtl;
}

.chapterHeaderContainer {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

.largeQuranTextLayoutContainer {
  display: inline;
  // @include breakpoints.tablet {
  //   display: block;
  // }
}

.largeQuranTextLayout {
  display: inline;
  // @include breakpoints.tablet {
  //   display: flex;
  // }
}

.verseTextCenterAlign {
  justify-content: center;
}
.verseTextSpaceBetween {
  justify-content: space-between;
}
.verseTextWrap {
  flex-wrap: wrap;
}

// @include utility.generate-font-scales("code_v1");
// @include utility.generate-font-scales("code_v2");
// @include utility.generate-font-scales("tajweed_v4");
// @include utility.generate-font-scales("text_indopak_15_lines");
// @include utility.generate-font-scales("text_indopak_16_lines");
// @include utility.generate-font-scales("qpc_uthmani_hafs");
// @include utility.generate-font-scales("fallback_qpc_uthmani_hafs");
// @include utility.generate-font-scales("tajweed");

.highlighted {
  background-color: #f8f9fa;
}

// On mobile, make the QuranWord slightly bigger on translation or tafsir mode
.tafsirOrTranslationMode {
  // --font-size is generated by `utility.genereate-font-sizes`
  font-size: calc(1.2 * 16px);
}
