.container {
  max-width: 90%;
  margin-block-start: 0.8125rem;
  margin-block-end: 0.8125rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  // @include breakpoints.tablet {
  //   max-width: $container-max-width;
  // }
}
.tafsirName {
  border-block-start: 1px solid rgb(235, 238, 240);
  font-size: 1.5rem;
  font-weight: 600;
  padding-block-start: 1rem;
  padding-block-end: 0.375rem;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: 0.375rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.tafsirContainer {
  padding-block-start: 1rem;
  padding-block-end: 1.1875rem;
  padding-inline-start: 0;
  padding-inline-end: 0;
  letter-spacing: 0;
  line-height: normal;
  p {
    margin-block-end: 0.8125rem;
    opacity: 0.87;
    line-height: normal;
  }
  br {
    content: '';
    margin-block-start: 0.8125rem;
    margin-inline-end: 0.8125rem;
    margin-block-end: 0.8125rem;
    margin-inline-start: 0.8125rem;
    display: block;
  }
  h2 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-block-end: 0.8125rem;
    margin-block-start: calc(1.5 * 1rem);
    &:first-child {
      margin-block-start: 0;
    }
  }
  * {
    letter-spacing: 0;
    line-height: normal;
  }
  // target any item which has a class that contains arabic
  *[class~='arabic'] {
    direction: rtl;
    /* stylelint-disable-next-line csstools/use-logical */
    text-align: right;
    margin-block-end: 0.8125rem;
  }
  // target any item which has a class that contains uthmani
  *[class~='uthmani'] {
    font-family: UthmanicHafs;
    font-size: larger;
  }
}

.rtl {
  direction: rtl;
  /* stylelint-disable-next-line csstools/use-logical */
  text-align: right;
}

.surahAndAyahSelectionContainer {
  display: flex;
}
.tafsirSelectionContainer {
  display: flex;
  margin-block-start: 1rem;
  overflow-x: scroll;
  width: 100%;
  padding-block-end: 1rem;
}
.tafsirSelectionItem {
  text-transform: capitalize;
  background-color: #f0f4f8;
  border-radius: 0.375rem;
  white-space: nowrap;
  height: auto;
  padding-block: 0.375rem;
  padding-inline: 0.8125rem;
  border: none;
  color: #272727;
  &:hover {
    background-color: #d9e3ea;
    opacity: 0.75;
  }

  margin-inline-start: 1rem;
}

.tafsirItemSelected {
  background-color: #2ca4ab;
  color: #fff;
  &:hover {
    background-color: #2ca4ab;
    color: #fff;
    opacity: 0.85;
  }
}

.separatorContainer {
  margin-block: 1rem;
}
.verseTextContainer {
  margin-block-end: 2rem;
}
.selectionItem {
  margin-inline-start: 1rem;
}
.ayahSelection {
  max-width: calc(2.5 * 2rem);
}

.tafsirSkeletonItem {
  height: 2rem;
  margin-block-end: 1rem;
}
.ayahSekletonItem {
  margin-inline-end: auto;
  height: calc(2.5 * 2rem);
  margin-block-end: 2rem;

  width: 100%;
}
.tafsirSkeletonItem1 {
  width: 100%;
}

.tafsirSkeletonItem2 {
  width: 80%;
}

.tafsirSkeletonItem3 {
  width: 60%;
}

.tafsirSelectionSkeleton {
  margin-block-start: 0.8125rem;
}

.languageSelection {
  min-width: calc(6 * 1rem);
  width: calc(6 * 1rem);
}
