.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 100%;
  padding-inline: 1rem;
  @media only screen and (min-width: 768px) {
    margin-inline: auto;
  }
  max-width: 80rem;
  @media only screen and (min-width: 768px) {
    width: 80%;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  font-weight: var(--font-weight-semibold);
  line-height: normal;
}

.description {
  text-align: start;
  line-height: normal;
}

.actions {
  display: flex;
  align-items: center;
}
