@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lateef:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  shape-rendering: geometricPrecision;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.currentPlaying {
  background-color: red;
}

.about-bg1 {
  background: #043b3b;
  box-shadow: inset 0px 4px 136px rgba(0, 29, 29, 0.8);
  backdrop-filter: blur(45.5px);
}
.about-bg2 {
  background: linear-gradient(
    180.03deg,
    #043b3b 31.97%,
    rgba(4, 59, 59, 0.85) 61.39%,
    #043b3b 104.17%
  );
}
